body {
    background-color: #f1f1f1;
}

.panel {
    margin-top: 1em;
}

#custom-button {
    margin-bottom: 10px;
    text-align: center;
}

#responses-top {
    margin-top: 35px;
}

.btn {
    border-radius: 0px;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

form {
    margin-top: 10px;
}

.navbar-right {
    margin-right: 10px;
}

.field-validation-error {color: #ff0000;}
.field-validation-valid {display: none;}
.input-validation-error {border: 1px solid #ff0000;
                         background-color: #ffeeee;}
.validation-summary-errors {font-weight: bold;
                            color: #ff0000;}
.validation-summary-valid {display: none;}

